.address__text {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-contact;
  margin: 0;
  width: 139px;

  @include above-tablet() {
    font-size: 20px;
    line-height: 26px;
    width: 172px;
  }

  @include above-desktop() {
    margin-right: 79px;
  }
}

.address__number {
  font-style: normal;
  line-height: 20px;
  width: 139px;

  @include above-tablet() {
    font-size: 16px;
    width: 160px;
    text-align: end;
    display: grid;
    gap: 10px;
  }

  @include above-desktop () {
    text-align: start;
  }
}

.address__number--transform {
  @include above-desktop() {
    gap: 0;
    width: 120px;
  }
}
