.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $custom-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $accent-primary;
  border: none;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  color: $text-secondary;
  text-decoration: none;

  &:hover {
    background-color: $button-hover-bg;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }
}

.button--secondary {
  color: $text-primary;
  background-color: $accent-secondary;

  &:hover {
    background-color: $catalog-line;
  }

  &:active {
    color: rgba($text-primary, 0.3);
  }

  @include above-tablet() {
    margin: 0 35px;
    align-self: stretch;
  }
}
