.catalog-container {
  padding: 27px 20px 35px;
}

.catalog-container__title {
  font-family: $custom-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  color: $text-title;
}
