.catalog {
  position: relative;
  padding-top: 27px;

  @include above-tablet() {
    padding-top: 55px;
  }

  @include above-desktop() {
    padding-top: 72px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $color-darken-gray-var2;
    left: 0;
    right: 0;
    top: 0;

    @include above-tablet() {
      content: none;
    }
  }
}

.catalog__title {
  font-family: $custom-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $text-title;

  @include above-tablet() {
    font-size: 60px;
    line-height: 60px;
  }
}
