.checkbox {
  color: $text-title;
  padding-bottom: 13px;

  &:last-child {
    padding-bottom: 0;
  }

  @include above-tablet() {
    padding-bottom: 0;
  }
}


.checkbox__control {
  margin: 0;
  margin-right: 16px;
}
