.checkbox {
  position: relative;
  color: $text-title;
  padding-bottom: 25px;

  &:last-child {
    padding-bottom: 0;
  }

  @include above-tablet() {
    padding-bottom: 0;
  }
}

.checkbox__label {
  padding-left: 46px;

  @include above-tablet() {
    padding-left: 60px;
  }
}

.checkbox__control--mark {
  position: absolute;
  top: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 1px solid $special-border-color;
  border-radius: 0;

  @include above-tablet() {
    height: 40px;
    width: 40px;
  }
}

.checkbox__control[type="checkbox"]:checked ~ .checkbox__control--mark::before {
  content: url("../img/icon-check.svg");
  position: absolute;
}

.checkbox__label:hover .checkbox__control--mark,
.checkbox__control--mark:hover {
  border-color: $radio-border;
}

.checkbox__control:disabled ~ .checkbox__control--mark {
  opacity: 0.3;
}

.checkbox__control {
  margin: 0;
  margin-right: 16px;
}
