.contact-field {
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 24px;
  }
}

.contact-field__label {
  padding-right: 10px;
}

.contact-field__control {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  padding: 14px 52px 14px 15px;

  &::placeholder {
    text-transform: uppercase;
  }
}
