.contacts {
  position: relative;
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @include above-tablet () {
    padding: 60px 40px;
  }

  @include above-desktop() {
    padding: 58px 73px 59px 80px;
    position: absolute;
    background: $color-white;
    top: 95px;
    z-index: 2;
  }
}

.contacts__item-transform {
  @include above-desktop {
    padding-right: 114px;
    padding-bottom: 40px;
  }
}


.contacts--bg-gray {
  background-color: $accent-secondary;
}
