.contacts {
  @include above-desktop() {
    position: relative;
    padding-top: 95px;
    padding-bottom: 107px;
  }
}

.contacts__location {
  @include above-desktop() {
    position: absolute;
    inset: 0;
  }
}

.contacts__item {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  @include above-tablet () {
    padding: 60px 40px;
  }

  @include above-desktop() {
    position: relative;
    padding: 58px 73px 59px 80px;
    background: $color-white;
    z-index: 1;
    width: 565px;
  }
}

.contacts__item-transform {
  @include above-desktop {
    padding-right: 114px;
    padding-bottom: 38px;
    padding-top: 60px;
  }
}

.contacts--bg-gray {
  background-color: $accent-secondary;
}
