.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: $color-green;
}

.copyright__link:active svg {
  fill: $color-green;
  opacity: 0.3;
}

.copyright__link:active p {
  opacity: 0.3;
}

.copyright__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $text-primary;
  margin: 0;

  @include above-tablet {
    margin-right: 23px;
  }
}
