.data-field {
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 46px;
  }
}

.data-field__label {
  padding-right: 13px;
}

.data-field__control {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  padding: 14px 159px 13px 20px;

  &::placeholder {
    text-transform: uppercase;
  }
}
