.example {
  background-color:#eaeaea;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.example__text {
  font-family: "Lato", sans-serif ;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 20px;
}

.example__spanding {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
