.form {
  text-transform: uppercase;
  display: grid;

  @include above-tablet() {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    font-size: 20px;
    line-height: 30px;
  }

  @include above-desktop() {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.form__items {
  margin: 0;
  padding: 0;
  border: none;

  @include above-tablet() {
    grid-column: 1/3;
  }
}

.form__items--catinfo {
  margin-bottom: 45px;

  @include above-tablet() {
    margin-bottom: 72px;
  }
}

.form__items--radio {
  margin-bottom: 45px;

  @include above-tablet() {
    padding: 30px 0;
    margin-bottom: 75px;
    border: 1px solid $color-lighten-gray-var5;
  }

  @include above-desktop() {
    grid-column: 3/5;
  }
}

.form__items--contact {
  position: relative;
  margin-bottom: 23px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: -20px;
    top: -71px;
    height: 2px;
    background-color: $color-green;
    z-index: -1;

    @include above-tablet() {
      top: -90px;
      left: -100px;
      right: -100px;
    }
  }


  @include above-tablet() {
    margin-bottom: 65px;
  }

  @include above-desktop() {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 80px;


    & .form__item {
      padding-bottom: 0;
    }
  }
}


.form__items--contact .form__items-title {
  width: 196px;
  padding-right: 14px;
  background-color: $color-white;

  @include above-tablet() {
    width: auto;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 46px;
  }
}

.form__items--comment {
  position: relative;
  margin-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: -20px;
    top: -47px;
    height: 2px;
    background-color: $color-green;
    z-index: -1;

    @include above-tablet() {
      top: -90px;
      left: -100px;
      right: -100px;
    }
  }

  @include above-tablet() {
    margin-bottom: 65px;
  }

  @include above-desktop() {
    grid-column: 1/5;
  }
}

.form__items--comment .form__items-title {
  background-color: $color-white;
  padding-right: 22px;

  @include above-tablet() {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 38px;
  }
}

.form__items--checkbox {
  margin-bottom: 40px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: -20px;
    top: -46px;
    height: 2px;
    background-color: $color-green;
    z-index: -1;

    @include above-tablet() {
      top: -90px;
      left: -100px;
      right: -100px;
    }
  }

  @include above-tablet() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 32px;
    margin-bottom: 54px;
  }

  @include above-desktop() {
    grid-column: 1/5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.form__items--checkbox .form__items-title {
  padding-right: 23px;
  background-color: $color-white;

  @include above-tablet() {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 41px;
  }
}

.form__items-title {
  color: $text-title;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
  padding: 0;
  text-transform: none;

  @include above-tablet() {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.form__button {
  margin-bottom: 21px;
  padding: 10px 44px;

  @include above-tablet() {
    margin-bottom: 0;
    padding: 16px 44px;
  }

  @include above-desktop() {
    grid-column: 1/3;
  }
}

.form__note {
  font-family: $default-font;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  margin: 0;
  text-align: center;

  @include above-tablet() {
    font-size: 16px;
    justify-self: start;
    align-self: center;
  }
}
