.gift {
  position: relative;
  min-height: 290px;
  background-color: $color-green;
  background-image:
    linear-gradient(to bottom, rgba($color-green, 0.85) 290px, rgba($color-green, 0.85) 290px),
    url("../img/cat-gift.jpg");
  background-size: cover, 279px 289px;
  background-repeat: no-repeat;
  background-position: center;

  @include retina() {
    background-image:
      linear-gradient(to bottom, rgba($color-green, 0.85) 290px, rgba($color-green, 0.85) 290px),
      url("../img/cat-gift@2x.jpg");
  }

  @include above-tablet() {
    min-height: 200px;
    background-position: center;
    background-size: 100%;
  }

  @include above-tablet() {
    background-size: cover;
  }
}

.gift__icon {
  display: block;
  width: 78px;
  height: 80px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 48px;

  @include above-tablet() {
    position: absolute;
    left: 77px;
    top: 57px;
  }

  @include above-desktop() {
    left: 85px;
  }
}

.gift__text {
  font-family: $default-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-secondary;
  margin: 0;
  text-align: center;

  @include above-tablet() {
    text-align: start;
  }

  @include above-desktop() {
    text-align: center;
  }
}
