.gift {
  background-color: rgba($accent-primary, 0.85);
  // background-image: url(../img/cat-in-bag.png);
}

.gift__text {
  font-family: $default-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-secondary;
  margin: 0;
  text-align: center;
}
