.main-header {
  @include above-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @include above-desktop() {
    padding-top: 53px;
  }
}

.main-header__logo--desktop {
  display: none;
}

.main-header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 65px;

  @include above-tablet() {
    display: none;

    &--desktop {
      display: block;
    }
  }
}

.main-header__logo-image {
  position: absolute;
}

.main-header__logo span {
  height: 18px;
  margin-left: auto;
  margin-right: auto;
}
