.main-header {
  @include above-desktop() {
    position: relative;
  }
}

.main-header__wrapper {
  @include above-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @include above-desktop() {
    padding-top: 52px;

    &::before {
      content: "";
      position: absolute;
      width: 50%;
      height: 694px;
      top: 0;
      left: 50%;
      background-image: url("../img/offer-cat-desktop.jpg");
      background-repeat: no-repeat;
      background-position: right;
      z-index: -1;
      background-color: $offer-background;

      @include retina {
        background-image: url("../img/offer-cat-desktop@2x.jpg");
        background-size: 112% 694px;
      }
    }
  }
}

.main-header__wrapper--background-off {
  &::before {
    @include above-desktop() {
      content: none;
    }
  }
}

.main-header__logo {
  color: $color-lighten-black;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 65px;

  @include above-tablet() {
    display: block;
    height: auto;
  }
}


.main-header__logo img {
  @include above-tablet() {
    width: 174px;
    height: 52px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  @include above-desktop() {
    width: 202px;
    height: 59px;
  }
}

.main-header__logo picture {
  position: absolute;

  @include above-tablet() {
    position: relative;
  }
}

.main-header__logo span {
  height: 18px;
  margin-left: auto;
  margin-right: auto;

  @include above-tablet() {
    display: none;
  }
}

