.offer {
  position: relative;
  font-family: $custom-font;
  background-color: rgba($accent-primary, 0.85);
  text-align: center;
  color: $text-secondary;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/offer-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 302px;
    width: 100%;

    @include above-tablet() {
      display: none;
    }
  }

  @include above-tablet {
    background-color: $text-secondary;
    color: $text-title;
    background-image: none;
  }

  @include above-desktop {
    background-color: rgba($accent-primary, 0.85);
  }
}

.offer__wrapper {
  position: relative;
}

.offer__promo {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;

  @include above-tablet() {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    padding-top: 62px;
    padding-left: 90px;
    margin-bottom: 51px;
  }

  @include above-desktop() {
    padding-left: 80px;
    margin-bottom: 40px;
  }
}

.offer__intro {
  margin: 0 0 29px;
  line-height: 14px;
  text-transform: uppercase;

  @include above-tablet() {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    padding-left: 90px;
  }

  @include above-desktop() {
    padding-left: 80px;
    margin-bottom: 52px;
  }
}

.offer__img {
  &--tablet {
    display: none;

    @include above-tablet() {
      display: block;
    }

    @include above-desktop() {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include above-desktop {
      display: block;
    }
  }

  @include above-tablet() {
    display: none;
  }
}

.offer__link {
  display: grid;

  @include above-tablet() {
    position: absolute;
    left: 116px;
    bottom: 526px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
  }
}
