.products {
  font-size: 12px;
  line-height: 16px;
  padding-top: 43px;
  padding-bottom: 25px;

  @include above-tablet() {
    font-size: 16px;
    padding-top: 163px;
  }

  @include above-desktop() {
    padding-bottom: 75px;
    padding-top: 165px;
  }
}

.products__list {
  @include above-tablet() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 143px;
    column-gap: 60px;
  }

  @include above-desktop() {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 144px;
  }
}

.products__item {
  position: relative;
  display: grid;
  padding-top: 20px;
  padding-bottom: 14px;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $catalog-line;
    left: -20px;
    right: -20px;
    top: 0;

    @include above-tablet() {
      content: none;
    }
  }

  @include above-tablet() {
    display: block;
    margin-bottom: 0;
  }
}

.products__item--view-all {
  padding-top: 25px;
  padding-bottom: 0;
  margin-bottom: 0;

  @include above-tablet() {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $accent-secondary;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $catalog-line;
    left: -20px;
    right: -20px;
    bottom: -25px;

    @include above-tablet() {
      content: none;
    }
  }
}

.products__title {
  font-family: $custom-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  justify-self: center;

  @include above-tablet() {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    padding: 0 93px;
    margin-bottom: 23px;
  }

  @include above-desktop() {
    padding: 0 32px;
  }

  &::before {
    content: "";
    display: block;
    margin: 0 auto 23px;
    width: 30px;
    height: 30px;
    background-image: url("../img/plus.svg");

    @include above-tablet() {
      width: 60px;
      height: 60px;
      background-size: 60px;
      margin-top: 49px;
      margin-bottom: 49px;
    }
  }
}

.products__text {
  margin: 0;
  margin-bottom: 21px;
  justify-self: center;

  @include above-tablet() {
    line-height: 18px;
    padding: 0 48px;
    text-align: center;
    margin-bottom: 88px;
  }

  @include above-desktop() {
    padding: 0 9px;
  }
}
