.radio {
  color: $text-alternative;
  padding-bottom: 25px;
  position: relative;

  &:last-child {
    padding-bottom: 0;
  }
}

.radio__label {
  padding-left: 45px;

  @include above-tablet() {
    padding-left: 87px;
  }
}

.radio__control--mark {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $special-border-color;
  background-color: $color-white;
  left: 0;
  top: -5px;


  @include above-tablet() {
    width: 40px;
    height: 40px;
    left: 28px;
  }
}

.radio__control[type="radio"]:checked + .radio__control--mark::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: $color-green;

  @include above-tablet() {
    left: 11px;
    top: 11px;
    width: 18px;
    height: 18px;
  }
}

.radio__label:hover .radio__control--mark,
.radio__label:hover .radio__control {
  border-color: $radio-border;
}

.radio__control:disabled + .radio__control--mark {
  opacity: 0.3;
}
