.site-list {
  text-transform: uppercase;
  text-align: center;
  padding: 22px 70px 27px;
}

.site-list__item {
  margin-bottom: 46px;

  &:last-child {
    margin-bottom: 0;
  }
}

.site-list__link {
  text-decoration: none;
  color: $text-title;
}
