.social__item {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  color: $color-slider;

  &:hover,
  &:focus {
   color: $color-green;
  }

  &:active {
    color: $color-green;
    opacity: 0.3;
  }
}
