.social__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  &:hover svg,
  &:focus svg {
    fill: $color-green;
  }

  &:active svg {
    fill: $color-green;
    opacity: 0.3;
  }
}
