.stages__title {
  font-family: $custom-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $text-title;
  margin: 0;
  margin-bottom: 40px;
}

.stages__list {
  @include above-tablet() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 37px;
    column-gap: 60px;
  }

  @include above-desktop() {
    display: flex;
    justify-content: space-between;
  }
}

.stages__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
