.stats {
  font-family: $custom-font;
}

.stats__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .stats__wrapper {
    width: 366px;
  }
}

.stats__data {
  font-size: 24px;
  line-height: 24px;
  color: $text-title;
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
}
