.survey-container {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.survey-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 37px;
}

.survey-container__description {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 39px;
}
