.text-field {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }

  @include above-tablet() {
    padding-bottom: 20px;
  }
}

.text-field__label {
  margin-right: 13px;

  @include above-tablet() {
    margin-right: 20px;
  }
}

.text-field__control {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 18px;
  color: $text-primary;
  padding: 14px 20px 13px;
  border: 1px solid $input-border;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;

  @include above-tablet () {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px;
  }

  &:hover {
    border-color: $special-border-color;
  }

  &:focus {
    border: 1px solid $color-dark-gray;
    box-shadow:
      1px 1px 0 0 $color-dark-gray,
      -1px -1px 0 0 $color-dark-gray;
  }

  &::placeholder {
    color: $text-primary;
    opacity: 1;
  }

  &--textarea {
    resize: vertical;
    height: 150px;
    padding: 9px 13px;

    @include above-tablet() {
      padding: 11px 20px;
    }
  }
}
