.text-field {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 13px;
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }

  @include above-tablet() {
    padding-bottom: 20px;
  }
}

.text-field__control {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 18px;
  color: $text-primary;
  padding: 14px 20px 13px;
  border: 1px solid $input-border;

  &:hover {
    outline: none;
    border-color: $special-border-color;
  }

  &:focus {
    outline: none;
    border: 2px solid $color-dark-gray;
    border-radius: 0;
  }

  &::placeholder {
    text-transform: uppercase;
    color: $text-primary;
  }
}
