.text-field {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding-bottom: 14px;

  &:last-child {
    padding-bottom: 0;
  }

  &--textarea {
    display: block;
  }

  @include above-tablet() {
    padding-bottom: 18px;
  }
}

.text-field__label {
  margin-right: 13px;
}

.text-field__label--textarea {
  display: grid;
  margin: 0;
}

.text-field__svg {
  color: $color-lighten-black-var2;
  position: absolute;
  right: 16px;
  top: 14px;

  @include above-tablet() {
    right: 19px;
    top: 19px;
  }
}

.text-field__control {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 18px;
  color: $text-primary;
  padding: 13px 8px 13px 20px;
  border: 1px solid $input-border;
  text-transform: uppercase;
  border-radius: 0;
  outline: none;
  -moz-appearance: textfield;

  @include above-tablet () {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px;
  }

  &:hover {
    border-color: $special-border-color;
  }

  &:focus {
    border: 1px solid $color-dark-gray;
    box-shadow: 0 0 0 1px $color-dark-gray;

    & + .text-field__svg {
      color: $color-green;
    }
  }

  &::placeholder {
    color: $text-primary;
    opacity: 1;
  }

  &--textarea {
    resize: vertical;
    height: 150px;
    padding: 9px 14px;

    @include above-tablet() {
      padding: 8px 17px;
      height: 172px;
    }
  }
}

.text-field__control--error {
  border: 1px solid $error;
  box-shadow: 0 0 0 1px $error;

  & + .text-field__svg {
    color: $error;
  }
}

.text-field__control--contact {
  padding-left: 12px;

  @include above-tablet() {
    padding-left: 18px;
  }
}
