$color-green: #68b738;
$color-green-var2: #64a73c;
$color-green-var3:#5eaa2f;
$color-lighten-gray: #f2f2f2;
$color-lighten-gray-var2: #eaeaea;
$color-lighten-gray-var3: #e6e6e6;
$color-lighten-gray-var4: #ebebeb;
$color-lighten-gray-var5: #e7e7e7;
$color-darken-gray: #cdcdcd;
$color-darken-gray-var2: #d9d9d9;
$color-darken-gray-var3: #d3d3d3;
$color-darken-gray-var4: #bababa;
$color-dark-gray: #444444;
$color-dark-gray-var2: #3e3e3e;
$color-dark-gray-var3:#6b6b6b;
$color-black: #000000;
$color-white: #ffffff;
$color-lighten-black: #111111;
$color-lighten-black-var2: #222222;
$color-red: #ff8282;
$color-slider: #666666;


$accent-primary: $color-green;
$accent-secondary: $color-lighten-gray;
$text-primary: $color-dark-gray;
$text-title: $color-black;
$text-secondary: $color-white;
$text-alternative: $color-lighten-black-var2;
$text-contact: $color-lighten-black;
$block-background: $color-lighten-gray-var2;
$border-color: $color-lighten-gray-var3;
$special-border-color: $color-darken-gray;
$plus: $color-darken-gray-var3;
$catalog-line: $color-lighten-gray-var4;
$input-border: $color-lighten-gray-var5;
$error: $color-red;
$radio-border: $color-darken-gray-var4;
$offer-background: $color-green-var2;
$button-hover-bg: $color-green-var3;
$logo-hover: $color-dark-gray-var2;
$logo-active: $color-dark-gray-var3;

$default-font: "Lato", "Arial", sans-serif;
$custom-font: "Oswald", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;
